/* Style from Pierre Neidhardt’s homepage : https://gitlab.com/ambrevar/ambrevar.gitlab.io/-/tree/master */
/* file: https://gitlab.com/ambrevar/ambrevar.gitlab.io/-/blob/master/source/dark.css */
/* License: GPLv3 https://gitlab.com/ambrevar/ambrevar.gitlab.io/-/blob/master/COPYING */


/******************************************************************************/
a {
		color: #08C;
}

a:visited {
		color: #B566FF;
}

blockquote {
		background: #444444;
		font-style: italic;
		margin: 0;
		padding: 10px 10px;
}

blockquote p {
		margin: 0;
}

body {
		background: #111111;
		color: #dddddd;
		font-family: "Deja Vu Sans", Sans-Serif;
		line-height: 1.5em;
		margin: 20px auto; /* "auto" for centering */
		padding: 0;
		max-width: 640px;
}

code {
		background: #444444;
		border-radius: 10px 10px;
		font-family: monospace;
		/* font-size: 12px; */
		padding: 0 5px;
}

img {
		background: #DDDDDD;
		padding: 4px;
		border-radius: 4px;
}

figure {
		background: #DDDDDD;
		padding: 4px;
		border-radius: 4px;
}

p {
		text-align: justify;
}

pre {
		background: #444444;
		border-radius: 10px 10px;
		display: inline-block;
		font-family: monospace;
		font-size: 12px;
		line-height: 1.2em;
		margin: 10px 20px 10px 0;
		min-width: calc(100% - 20px); /* -20px for padding */
		padding: 10px;
		vertical-align: middle;
}

pre code {
		padding: 0 0px;
}

h1 {
		line-height: 40px;
}

/******************************************************************************/
.title {
		background-color: #222222;
		border-radius: 10px 10px;
		padding: 10px 20px;
}

.title h1 {
		line-height: 40px;
		padding: 10px 0;
}

.subtitle {
		font-weight: bold;
		font-style: italic;
		text-align: center;
}

.title p {
		margin-top: -20px;
		padding: 5px 0;
}

/******************************************************************************/
nav {
		background-color:#222222;
		border-radius: 5px 20px 5px 20px;
		border: 3px solid gray;
		font-weight: bold;
		padding: 0 10px;
		position: fixed;
		right: 0;
		top: 0;
		text-align: right;
}

/*
nav:before {
		content: "Table of contents";
}
*/

/* Toggle TOC when hovered. */
nav ul {
		display: none;
}
nav:hover ul {
		display: block;
}

/* Indent sublists. */
nav ul   {
		text-align: left;
		padding: 0;
}
nav ul li ul   {
		padding: 0 0 0 2em;
}

/* Remove list dot. */
nav ul li  {
		display: block;
}

/* Remove deeply nested TOC, mostly for power-apps */
nav ul li ul li ul li ul li  {
		display: none;
}

nav a {
		color: #08C;
		text-decoration: none;
		white-space: nowrap;
}

nav a:hover {
		color: #dddddd;
}

/* Org uses a <h2> for "Table of Contents". */
nav h2 {
		font-size: 16px;
		margin: 0;
}

/******************************************************************************/
#preamble {
		background-color:#222222;
		border-radius: 5px 20px 5px 20px;
		border: 3px solid gray;
		font-weight: bold;
		padding: 0 10px;
		/* position: fixed; */
		right: 0;
		top: 0;
		/* text-align: right; */
}

#preamble a {
		color: #08C;
		text-decoration: none;
		white-space: nowrap;
		margin: 0 10px 0 0;
}

#preamble a:hover {
		color: #dddddd;
}

footer {
		background: #222222;
		border-radius: 10px 10px;
		padding: 5px 0 10px 0;
		text-align: center;
		vertical-align: middle;
}

footer p {
		margin: 0px;
		text-align: center;
}

#postamble {
		background: #222222;
		border-radius: 10px 10px;
		padding: 5px 0 10px 0;
		text-align: center;
		vertical-align: middle;
}

#postamble p {
		margin: 0px;
		text-align: center;
}

/******************************************************************************/
.tag {
		background: #444444;
		border-radius: 10px 10px;
		font-family: bold;
		font-size: 12px;
		padding: 2px;
}
