/* Common classes. */


/* Offset element (accessibility, or A11Y for short)

   - Hide the element in graphic Web browsers.
   - But display it in text-based browsers.
*/
.a11y-offset {
    position: absolute;
    left: -50000px;
}
/* END Offset element */

.autoscroll {
    overflow: auto;
}

.bold {
    font-weight: bold;
}

.centered-block {
    margin-left: auto;
    margin-right: auto;
}

.centered-text {
    text-align: center;
}

.fineprint {
    font-size: small;
}

.flex {
    display: flex;
}

.flex-auto {
    flex: auto;
}

.flex-initial {
    flex: initial;
}

.float-cleaner {
    clear: both;
}

.framed {
    border-color: var(--border-color);
    border-style: solid;
    border-width: thin;
}

.full-width {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.highlight0 {
    font-family: var(--title-font);
    font-size: 1.25em;
    font-weight: bold;
}

.highlight1 {
    font-family: var(--text-font);
    font-size: 1.25em;
}

.IBAN > span {
    padding-right: 0.5em;
}

.justify {
    text-align: justify;
}

.justify-left {
    text-align: left;
}

.justify-right {
    text-align: right;
}

.limit-width {
    max-width: var(--main-content-max-width);
}

.mono {
    font-family: monospace;
}

.no-margins {
    margin: 0em;
}

.unpadded {
    padding: 0em;
}

.responsive-image {
    display: block;
    height: auto;
    max-width: 100%;
}

.slogan {
    font-family: var(--text-font);
    font-size: 1.5em;
}
