.cover_main,
.cover_product {
    background-position: bottom center;
    background-repeat: no-repeat;
    font-size: 1.25em;
    position: relative;
}

.cover_main {
    background-image: var(--main-cover);
    height: 100vh;
}

.cover_product {
    background-image: var(--product-cover);
    height: calc(100vh / 2);
}

.cover_main > p {
    position: absolute;
    bottom: 0em;
    left: 0em;
    max-width: 700px;
    padding: 1em;
    hyphens: none;
}


@media screen and (min-width: 1024px) {
    .cover_main {
	font-size: 1.5em;
	height: calc(var(--main-content-max-width) / 2);
    }

    .cover_product {
	height: calc(var(--main-content-max-width) / 4);
    }

    .cover_main > p {
	padding: 2em;
    }
}
