@font-face {
    font-family: "JuliaMono";
    src: local("JuliaMono"), url("../fonts/JuliaMono-Regular.woff2") format("woff2");
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "JuliaMono";
    src: local("JuliaMono"), url("../fonts/JuliaMono-RegularItalic.woff2") format("woff2");
    font-style: italic;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Work Sans";
    src: local("Work Sans"), url("../fonts/WorkSans-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: local("Work Sans"), url("../fonts/WorkSans-Italic.woff2") format("woff2");
    font-style: italic;
}
