.people {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.person {
    display: flex;
    flex-flow: column;
    background-color: var(--background-color);
    box-sizing: border-box;
    margin: 1em;
    overflow: hidden;
    text-align: center;
    width: 260px;
}

.person-name {
    font-family: var(--title-font);
    font-size: 1.2em;
    margin-bottom: 0em;
}

.person figure,
.product figure {
    margin: 0em;
}

.person-photo,
.product-image {
    order: -1;
}

.person-photo img {
    background-color: transparent;
    border-style: solid;
    border-width: thin;
    display: block;
    height: 90px;
    margin: 1em auto;
    width: 90px;
}

.products {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product {
    display: flex;
    flex-flow: column;
    background-color: var(--background-color);
    box-sizing: border-box;
    margin: 1em;
    overflow: hidden;
    width: 260px;
}

.product-name {
    color: var(--meup-accent-color);
    font-family: var(--title-font);
    font-size: 1.2em;
    margin-bottom: 0em;
}

.product-image img {
    display: block;
    margin: 1em auto;
    max-width: 100%;
}

.product:first-of-type {
    margin: 0em;
    width: 100%;
}


@media screen and (min-width: 800px) {
    .products {
	justify-content: left;
    }

    .product {
	margin: 1em 2em 1em 0em;
    }

    .product:first-of-type {
	position: relative;
	padding-left: 62%;
	margin: 2.5em 0em;
	min-height: 300px;
    }

    .product:first-of-type > .product-name {
	margin-top: 0.2em;
    }

    .product:first-of-type figure {
	position: absolute;
	left: 0em;
	top: 0em;
	width: 58%;
    }
}
