/* Classes and components specific to HTML exported by Emacs Org mode. */

a.footnum:link,
a.footref:link {
    border-style: none;
    padding: 0.1em 0.4em;
}

a.footnum:active,
a.footnum:focus,
a.footnum:hover,
a.footref:active,
a.footref:focus,
a.footref:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

details .content {
    border-color: var(--border-color);
    border-style: none solid solid solid;
    border-width: thin;
    padding: 0.5em 1em;
}

p.verse {
    color: var(--dim-color);
    font-family: serif;
    font-size: 90%;
}

pre.src {
    background-color: var(--dark-color);
    border-color: var(--border-color);
    border-style: solid;
    border-width: thin;
    color: var(--light-color);
    padding: 10px;

}

#abstract,
.abstract {
    margin-top: 4em;
}

#content,
#postamble {
    box-sizing: border-box;
    margin: auto;
    max-width: var(--main-content-max-width);
    padding: var(--main-content-padding);
}

#content {
    background-color: var(--background-color);
    background-image: var(--horizontal-line);
    background-repeat: no-repeat;
    background-size: calc(
        var(--main-content-max-width) -
        calc(2 * var(--main-content-padding))
    );
    background-position: bottom center;
    border-color: var(--border-color);
    margin-top: 0em;
    position: relative;
}

#footnotes {
    font-size: 0.9em;
}

#org-div-home-and-up {
    font-size: small;
    text-align: center;
}

#postamble {
    background-color: transparent;
    font-size: small;
    padding-left: calc(var(--main-content-padding) + 1em);
}

#table-of-contents {
    background-color: var(--background-color);
    box-sizing: border-box;
    font-size: 90%;
    overflow: auto;
    overscroll-behavior: contain;
    padding: 1em 0em;
}

#table-of-contents > h2 {
    background-image: var(--toc-icon);
    background-position: 1em center;
    background-repeat: no-repeat;
    font-size: 1.2em;
    padding-left: 2.5em;
}

#table-of-contents ul {
    list-style-position: inside;
    padding: 0em;
}

#table-of-contents li {
    display: block;
    padding: 0em;
}

#table-of-contents a:link {
    display: block;
    font-weight: normal;
    padding: 0.5em 1.2em;
}

#table-of-contents a:active,
#table-of-contents a:focus,
#table-of-contents a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* XXX: Find a better way to style depending on nesting level */

/* Level 2 items */
#text-table-of-contents > ul > li > ul > li > a:link {
    padding-left: 2em;
}

/* Level 3 items */
#text-table-of-contents > ul > li > ul > li > ul > li a:link {
    padding-left: 3em;
}

.figure img {
    max-width: 100%;
}

.figure-number,
.table-number,
.listing-number {
    color: var(--dim-color);
}

.footdef sup {
    border-color: var(--border-color);
    border-style: solid;
    border-width: thin;
    float: left;
    margin-right: 1em;
}

.footnotes {
    border-color: var(--border-color);
    border-style: solid none none none;
    border-width: thin;
    font-size: 120%;
    margin-top: 6em;
    padding: 1em 0em;
}

.linenr {
    color: var(--dim-color);
    user-select: none;
}

.org-src-name {
    color: var(--dim-color);
    margin-top: 1em;
}

.subtitle {
    margin-top: 0.5em;
    text-align: center;
}

.t-above {
    color: var(--dim-color);
}

.tag {
    border-color: var(--border-color);
    border-style: solid;
    border-width: thin;
    border-radius: 0em 0.3em 0em 0.3em;
    font-size: 80%;
    padding: 0em 0.3em;
}

.timestamp {
    color: var(--dim-color);
}

.todo,
.done {
    border-radius: 0em 0.3em 0em 0.3em;
    color: var(--todo-text-color);
    font-size: 80%;
    padding: 0em 0.3em;
}

.todo {
    background-color: var(--todo-background-color);
}

.done {
    background-color: var(--done-background-color);
}


@media screen and (min-width: 1500px) {
    #table-of-contents {
        border-color: var(--border-color);
        border-style: none solid none none;
        border-width: thin;
        height: calc(100vh - var(--navbar-height));
        padding: 1em 0em;
        position: fixed;
        left: 0px;
        top: var(--navbar-height);
        width: var(--toc-width);
    }
}



@media print {
    #table-of-contents,
    .outline-2 {
        break-after: page;
    }

    #org-div-home-and-up,
    p.validation {
        display: none;
    }
}
